* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;

    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';

    width: 100%;
    height: 36rem;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    background-color: var(--preto-fundo);
}
/**/

.global_box {
    width: 100%;
    max-width: 73rem;

    margin: 0 auto;
    padding: 0 1rem;
}

/* Header */
.header_wrapper {
    width: 100%;
    max-width: 32rem;

    margin: 7.4rem 0 0;
}

.header_wrapper h1 {
    font-weight: bold;
    font-family: 'Archivo';

    color: var(--branco);
}

.header_wrapper p {
    font-size: 1.6rem;
    line-height: 2.6rem;

    color: var(--azul-principal);
}

/* Main -> Form */
.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;

    min-height: 30rem;
    margin: 3.8rem 0 0;
    padding: 6.4rem;

    border-radius: 0.8rem 0.8rem 0 0;
    border-bottom: 1px solid var(--cor-borda);
    background-color: var(--cor-formulario);
    box-shadow: 5px 2px 42px 7px rgba(0, 0, 0, 0.15);
}

.fildset-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* Input wrapper */
.input_wrapper {
    display: flex;
    flex-direction: column;
}

/* Form texts and inputs */
.form_text_legend {
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.4rem;

    width: 100%;
    padding: 0 0 1.6rem 0;

    color: var(--preto-legend);
    border-bottom: 1px solid var(--cor-borda);
}

.form_text_label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.4rem;

    width: max-content;
    margin-bottom: 0.8rem;
    color: var(--preto-principal);
}

.form_text_span_label {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.0rem;

    margin-left: 1.2rem;
    color: var(--cinza-principal);

    transition: .3s;
}

.form_text_span_label:hover {
    color: var(--cinza-secundario);
}

.form_input {
    height: 5.6rem;
    padding: 0 2.0rem 0;

    font-family: inherit;
    border-radius: 0.8rem;
    border: 1px solid var(--cor-borda);

    background-color: transparent;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);

    outline: none;
    transition: .3s;
}

.form_textarea {
    padding: 2rem;
    min-height: 16rem;
    max-height: 25rem;
    max-width: 605px;
    min-width: 100%;

    border-radius: 0.8rem;
    border: 0.1rem solid var(--cor-borda);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.1);

    transition: .3s;
    background: transparent;
    outline: none;
}

.form_select {
    appearance: none;
    -webkit-appearance: none;

    font-family: inherit;
    color: var(--cinza-principal);

    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
}

.checkbox_wrapper {
    position: relative;
}

.checkbox_wrapper label {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 0;
}

.checkbox_wrapper label::before {
    display: block;
    cursor: pointer;
    content: '';

    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid var(--cor-borda);
    border-radius: 0.8rem;
}

.checkbox_wrapper input {
    position: absolute;
    top: 0;
    left: 0;

    width: 2.4rem;
    height: 2.4rem;
    opacity: 0;
}

.checkbox_wrapper input:focus+label::before {
    outline: 1px solid var(--cinza-principal);
}

.checkbox_wrapper input:checked+label::before {
    background-image: url(/projeto_03/img/checked.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/* Form pseudoclasses and pseudoelements */
.form_input:hover,
.form_textarea:hover {
    background-color: #dadada23;
}

.form_input:focus,
.form_textarea:focus {
    font-weight: 600;
    font-family: inherit;
    background-color: #dadada67;
}

.form_input::placeholder,
.form_textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    color: var(--cinza-principal);
}

/* Background input svgs */
.form_input_svglink {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
    background-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' opacity='.3' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cg transform='translate(0.000000,512.000000) scale(0.100000,-0.100000)'%3E%3Cpath d='M7185.2,5006.9c-168.7-30.7-312.5-80.5-485-168.7c-164.9-84.4-195.6-109.3-742-653.8c-613.5-611.6-613.5-611.6-582.8-780.3c19.2-95.9,128.5-209,224.3-233.9c44.1-11.5,88.2-17.3,101.6-13.4c11.5,3.8,46,11.5,78.6,19.2c40.3,9.6,205.1,159.1,584.8,534.9c460.1,458.2,542.6,531.1,651.9,580.9c301,141.9,607.8,136.1,920.3-17.3c105.4-53.7,199.4-136.1,634.6-571.3c527.2-525.3,584.8-596.3,661.4-824.4c26.8-78.6,36.4-159.1,34.5-316.3c0-241.6-36.4-371.9-151.5-536.8c-36.4-51.8-722.8-751.6-1528-1554.9C6335.9-775.4,6107.7-995.9,6006.1-1047.7c-322.1-168.7-751.6-184.1-1060.2-38.3c-57.5,26.8-214.7,166.8-469.7,419.9c-210.9,207.1-412.2,391.1-448.6,410.3c-82.4,42.2-233.9,30.7-304.8-23c-132.3-97.8-174.5-262.6-103.5-400.7c46-86.3,694-734.3,841.7-839.7c128.4-90.1,385.4-209,542.6-249.2c69-19.2,228.1-38.3,354.7-44.1c389.2-17.2,743.9,82.4,1073.6,299.1c147.6,97.8,381.5,322.1,1660.3,1606.6c818.7,820.6,1516.5,1533.8,1551,1583.6c86.3,128.5,180.2,343.2,222.4,502.3c26.8,101.6,34.5,201.3,34.5,402.6c-1.9,233.9-7.7,289.5-51.8,437.1c-55.6,180.2-136.1,352.8-230.1,492.7c-82.4,122.7-1054.5,1098.6-1196.4,1200.2c-143.8,103.5-394.9,222.4-561.7,264.6C7716.3,5014.6,7317.5,5031.9,7185.2,5006.9z'/%3E%3Cpath d='M4341.9,2136.8c-220.5-30.7-496.6-143.8-686.4-281.8C3506,1747.6,448-1316.1,363.7-1440.7C18.6-1958.4,10.9-2658.1,348.4-3179.6c92-143.8,1067.9-1138.8,1261.5-1288.4c151.5-116.9,343.2-208.9,546.4-268.4c124.6-34.5,201.3-42.1,402.6-42.1c327.8,0,556,59.4,830.2,220.5c134.2,80.5,1204,1127.3,1242.4,1219.4c76.7,178.3-32.6,389.2-228.1,435.2c-28.8,7.6-90.1,1.9-134.2-9.6c-69-17.3-157.2-97.8-607.8-542.6c-414.1-408.4-552.2-534.9-644.2-582.8c-299.1-157.2-617.3-157.2-908.8-1.9C1955-3960,908.2-2907.4,835.3-2763.6c-105.4,210.9-134.2,465.9-78.6,674.9c69,262.7,21.1,209,1656.5,1848.2C3253,601.1,3985.3,1320.1,4040.9,1356.5c283.7,189.8,655.7,210.9,966.3,53.7c72.9-36.4,216.6-164.9,513.8-460.1c414.1-410.3,488.9-467.8,613.5-467.8c82.4,0,199.4,63.3,251.2,136.1c61.4,86.3,69,220.5,21.1,316.3c-21.1,40.3-220.5,255-448.6,479.3c-450.5,444.8-588.6,548.3-864.7,642.3C4850,2140.7,4575.8,2169.4,4341.9,2136.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.form_input_svgcontact {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
    background-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' opacity='.3' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cg%3E%3Cpath d='M500,0.1c-270.2,0-490,219.8-490,490c0,105.7,42.9,200.7,61.4,236.6c8.6,16.7,29.1,23.3,45.8,14.7c16.7-8.6,23.3-29.1,14.7-45.8C115.8,664,78.1,581,78.1,490.1C78.1,257.4,267.3,68.2,500,68.2c232.7,0,421.9,189.3,421.9,421.9C921.9,722.7,732.6,912,500,912c-91,0-163.3-31.5-190.1-45.1c-8-4-17.2-4.7-25.7-2L69.7,933.4c-17.9,5.7-27.8,24.9-22.1,42.8c4.6,14.5,18,23.7,32.4,23.7c3.4,0,6.9-0.5,10.4-1.6l201.5-64.4c42.2,19.6,116.4,46.2,208.1,46.2c270.2,0,490-219.8,490-490C990,219.9,770.2,0.1,500,0.1z'/%3E%3Cpath d='M403.4,406.5c-14.9,11.5-17.7,32.8-6.3,47.7c11.5,14.9,32.8,17.7,47.7,6.3c10.4-8,38.2-29.3,34.1-67.4c-2.5-22.6-24.6-53.7-42.7-75.8c-26.5-32.3-48.9-51.4-66.5-56.8c-16.5-5.1-33.4-4.3-50.2,2.4c-34.7,13.9-59.1,36.8-70.7,66.4c-11.3,28.8-9.3,61,6,93.2c35.5,75,83,139.8,141.1,192.5c0.2,0.2,0.5,0.4,0.7,0.6c59,52.1,128.7,92.3,207.3,119.4c14.9,5.1,29.6,7.7,43.6,7.7c17.7,0,34.4-4,49.7-12.1c28.1-14.8,48.2-41.7,58.2-77.7c4.8-17.5,3.7-34.3-3.1-50c-7.3-17-28.8-37.1-63.8-59.9c-23.9-15.5-57.2-34-80.1-34c0,0,0,0,0,0c-38.2,0.2-56.3,30.1-63.1,41.3c-9.7,16.1-4.6,37,11.5,46.8c16.1,9.7,37,4.6,46.8-11.5c2.7-4.4,4.4-6.8,5.5-8c19.2,5.6,70.7,39.2,81.2,53.4c0.2,0.8,0.2,1.9-0.4,4c-3.4,12.1-10.3,28.2-24.3,35.5c-13.1,6.9-28.7,3.9-39.4,0.2c-70-24.1-131.9-59.7-184-105.7c0,0,0,0,0,0c-51.6-46.8-93.9-104.5-125.7-171.5c-4.9-10.3-9.5-25.5-4.1-39.2c5.8-14.7,20.9-23.4,32.6-28c2-0.8,3.1-0.9,4-0.8c15.2,8.9,54.3,56.3,62,74.8C409.7,401.4,407.5,403.4,403.4,406.5z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.form_input_svgemail {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' opacity='.3' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cg%3E%3Cpath d='M735.3,610.9c0,42.9,12.2,60,44.1,60c71.1,0,116.4-90.6,116.4-241.3c0-230.3-167.8-340.5-377.4-340.5c-215.5,0-411.6,144.5-411.6,417.7c0,260.9,171.5,403,434.9,403c89.4,0,149.5-9.8,241.3-40.4l19.7,82c-90.6,29.5-187.5,38-262.2,38C195,989.4,10,799.5,10,506.7C10,211.5,224.4,10.6,519.7,10.6C827.1,10.6,990,194.4,990,419.8c0,191.1-60,336.9-248.6,336.9c-85.8,0-142.1-34.3-149.5-110.3c-22,84.5-80.8,110.3-160.5,110.3c-106.6,0-196-82.1-196-247.4c0-166.6,78.5-269.5,219.3-269.5c74.7,0,121.3,29.4,142,76l35.6-64.9h102.9v360.2L735.3,610.9L735.3,610.9z M584.7,449.2c0-67.3-50.3-95.5-91.9-95.5c-45.3,0-95.5,36.7-95.5,144.5c0,85.8,38,133.5,95.5,133.5c40.4,0,91.9-25.7,91.9-96.8V449.2L584.7,449.2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.form_input_svgpass {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right 2.4rem top 50%;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' opacity='.3' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath d='M87.5,197.5l353,279.6c16,12.7,38.1,18.3,59.5,17.2c21.4,1.1,43.4-4.5,59.5-17.2l353-279.6c28.3-22.3,21.9-40.5-14-40.5H500H101.6C65.7,157,59.3,175.3,87.5,197.5z'/%3E%3Cpath d='M937.9,271.3L552.2,564.2c-14.4,10.8-33.3,16.1-52.1,15.9c-18.9,0.2-37.7-5.1-52.2-15.9L62.1,271.3C33.4,249.6,10,261.2,10,297.2v480.5c0,35.9,29.4,65.3,65.3,65.3H500h424.7c35.9,0,65.3-29.4,65.3-65.3V297.2C990,261.2,966.6,249.6,937.9,271.3z'/%3E%3C/g%3E%3C/svg%3E");
}

/* Scheduling */
.scheduling_wrapper {
    display: flex;
    gap: 20px;
}

.scheduling_wrapper .input_wrapper:first-child {
    width: 100%;
}

/* Buttons box */
.buttons_box {
    padding: 4rem 6.5rem;

    border-radius: 0 0 0.8rem 0.8rem;
    background-color: var(--cor-fundo-caixa-botoes);
}

.form_button {
    width: 100%;
    padding: 1.5rem 0;

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--branco);

    border-radius: 0.8rem;
    background: var(--verde);
    box-shadow: 5px 2px 42px 7px rgba(0, 0, 0, 0.10);

    cursor: pointer;
    transition: .3s;
}
.form_button:hover {
    transform: scale(1.01);
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem 0 2rem;
}
footer p {
    display: flex;
    justify-content: center;
    gap: .5rem;

    font-size: 1.4rem;
    line-height: 1rem;
}
footer p::before {
    content: '\2139';
}
footer a {
    text-decoration: none;
    color: var(--preto);

    font-size: 1.2rem;
    font-weight: normal;
}